@charset "UTF-8";

@font-face {
    font-family: courgette;
    src: url(font/Courgette/Courgette-Regular.ttf);
}

@font-face {
    font-family: open_sans;
    src: url(font/Open_Sans/static/OpenSans-Regular.ttf);
}

@font-face {
    font-family: reddit_mono;
    src: url(font/Reddit_Mono/static/RedditMono-Regular.ttf);
}

@font-face {
    font-family: source_sans;
    src: url(font/source-sans-pro/SourceSansPro-Regular.otf);
}

:root{
    --cor_principal: #fb8ea3;
    --cor_secundaria:#e49080;
    --cor_sombra:#424242;
    --cor_destaque: #cd334f;
    --font_titulo: source_sans;
    --font_conteudo: reddit_mono;
    --font_destaque: courgette; 
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 1920px) {

details{
    display: none;
}

header{
    width: 100%;
    height: 30vh;
    background-image: linear-gradient(to bottom, var(--cor_secundaria), var(--cor_principal) );
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:  2.5vw ;
    font-family: var(--font_titulo) , 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    
}

nav{
    width: 100%;
    height: 10vh;
    background-color: var(--cor_principal);
}

nav > ul{
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

nav li{
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}

nav li:hover{
    background-color: whitesmoke;
    transition-duration: 1s;
    border: 20px;
}

li  img{
    margin: 0 10px 0 10px; 
}

nav  a{
    text-decoration: none;
    color: #424242;
}

section{
    max-height: 20vh;
    min-height: 10vh;
    width: 100%;
    background-color: #424242;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.img001{
    background-image: url(images/Yellow-buttercups-flowers_1280x800.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    height: 60vh;
    width: 100%;
    margin-top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--cor_sombra) 5px solid;
}

div.boas_vindas{
    background-color: #424242;
    max-width: 300px;
    min-height: 200px;
    padding: 20px;
    margin:40px auto;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    color: white;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container div{
    display: flex;
    position: relative;
    width: 500px;
    height: 300px;
    border-radius: 15px;
    background-color: var(--cor_destaque);
    margin: 10px 10px 0 10px;
}

.container div p{
    text-align: center;
    width: 200px;
    position: absolute;
    top: 50%;
    right: 50px;
}

.container div:hover
{animation: pulse 2s;}
@keyframes pulse {
    0%, 100% {transform: scale(1);}
    50% {transform: scale(1.1);}
}

div.img_1{
    background-image: url(images/1\ \(1\).jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}
div.img_2{
    background-image: url(images/\(2\).jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}
div.img_3{
    background-image: url(images/1\ \(3\).jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}
div.img_4{
    background-image: url(images/1\ \(4\).jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}
div.img_5{
    background-image: url(images/1\ \(5\).jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}
div.img_6{
    background-image: url(images/1\ \(6\).jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}
div.img_7{
    background-image: url(images/1\ \(7\).jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}
div.img_8{
    background-image: url(images/1\ \(8\).jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}
div.img_9{
    background-image: url(images/1\ \(9\).jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}
div.img_10{
    background-image: url(images/1\ \(10\).jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}
div.img_11{
    background-image: url(images/1\ \(11\).jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
div.img_12{
    background-image: url(images/1\ \(12\).jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}

div.img_14{
    background-image: url(images/1\ \(14\).jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}
div.img_15{
    background-image: url(images/1\ \(15\).jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}
div.img_16{
    background-image: url(images/1\ \(16\).jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}
div.img_17{
    background-image: url(images/1\ \(17\).jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
}
div.img_18{
    background-image: url(images/1\ \(18\).jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}
div.img_19{
    background-image: url(images/1\ \(19\).jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}
div.img_20{
    background-image: url(images/1\ \(20\).jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}
div.img_21{
    background-image: url(images/1\ \(21\).jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}


footer{
    text-align: center;
    background-color: var(--cor_principal);
    margin: 10px 0 0 0;
    color: var(--cor_sombra);
}

}

/*

******************************ESTILO CSS PARA CELULAR P************************************ ********************************************************************************************
*******************************************************************************************


*/

@media only screen and (max-width: 320px) {
    header{
        width: 100%;
        height: 30vh;
        background-image: linear-gradient(to bottom, var(--cor_secundaria), var(--cor_principal) );
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size:  2.5vw ;
        font-family: var(--font_titulo) , 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
        
    }
    details{
        background-color: aliceblue;
        width: max-content;
        padding: 10px;
        border-radius: 20px;
        display: flex;
        position: relative;
    }


    summary:hover{
        background-color: aliceblue;
        width: max-content;
        border-radius: 20px;
        
    }
    
    ul{
        background-color: aliceblue;
    }

    ul#menu{
        display: none;
    }
    
    nav li:hover{
        background-color: whitesmoke;
        transition-duration: 1s;
        border: 20px;
    }

    footer{
        text-align: center;
        background-color: var(--cor_principal);
        margin: 10px 0 0 0;
        color: var(--cor_sombra);
    }
    
    
}

/*

******************************ESTILO CSS PARA CELULAR M************************************ ********************************************************************************************
*******************************************************************************************


*/


@media only screen and (max-width: 425px) {
    header{
        width: 100%;
        height: 30vh;
        background-image: linear-gradient(to bottom, var(--cor_secundaria), var(--cor_principal) );
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size:  2.5vw ;
        font-family: var(--font_titulo) , 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
        
    }

    details{
        display: flex;
        position: relative;
        background-color: aliceblue;
        width: max-content;
        padding: 10px;
        border-radius: 20px;
    }

    summary:hover{
        background-color: aliceblue;
        width: max-content;
        border-radius: 20px;
    }
    
    ul{
        background-color: aliceblue;
    }

    ul#menu{
        display: none;
    }
    
    nav li:hover{
        background-color: whitesmoke;
        transition-duration: 1s;
        border: 20px;
    }

    footer{
        text-align: center;
        background-color: var(--cor_principal);
        margin: 10px 0 0 0;
        color: var(--cor_sombra);
    }
    
}  