@charset "UTF-8";

@font-face {
    font-family: courgette;
    src: url(font/Courgette/Courgette-Regular.ttf);
}

@font-face {
    font-family: open_sans;
    src: url(font/Open_Sans/static/OpenSans-Regular.ttf);
}

@font-face {
    font-family: reddit_mono;
    src: url(font/Reddit_Mono/static/RedditMono-Regular.ttf);
}

@font-face {
    font-family: source_sans;
    src: url(font/source-sans-pro/SourceSansPro-Regular.otf);
}

:root{
    --cor_principal: #fb8ea3;
    --cor_secundaria:#e49080;
    --cor_sombra:#424242;
    --cor_destaque: #cd334f;
    --font_titulo: source_sans;
    --font_conteudo: reddit_mono;
    --font_destaque: courgette; 
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(images/wp9102063.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.card{
    width: 400px;
    height: 300px;
    background-color: var(--cor_principal);
    margin-top: 25vh;
    padding: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    box-shadow: 1px 2px 2px 2px #61616156 ;
}

.card > p#msg{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card button{
    margin-top: 25px;
    color: white;
    background-color: var(--cor_destaque);
    padding: 10px;
    border-radius: 15px;
    border: none;
}

