@charset "UTF-8";

@font-face {
    font-family: courgette;
    src: url(font/Courgette/Courgette-Regular.ttf);
}

@font-face {
    font-family: open_sans;
    src: url(font/Open_Sans/static/OpenSans-Regular.ttf);
}

@font-face {
    font-family: reddit_mono;
    src: url(font/Reddit_Mono/static/RedditMono-Regular.ttf);
}

@font-face {
    font-family: source_sans;
    src: url(font/source-sans-pro/SourceSansPro-Regular.otf);
}

:root{
    --cor_principal: #fb8ea3;
    --cor_secundaria:#e49080;
    --cor_sombra:#424242;
    --cor_destaque: #cd334f;
    --font_titulo: source_sans;
    --font_conteudo: reddit_mono;
    --font_destaque: courgette; 
}

*{
    padding: 0;
    margin: 0;
}

header{
    width: 100vw;
    height: 30vh;
    background-image: linear-gradient(to bottom, var(--cor_secundaria), var(--cor_principal) );
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:  2.5vw ;
    font-family: var(--font_titulo) , 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

nav{
    width: 100vw;
    height: 10vh;
    background-color: var(--cor_principal);
    position: relative;
    
}

nav > ul{
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

nav li{
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}

nav li:hover{
    background-color: whitesmoke;
    transition-duration: 1s;
    border: 20px;
}

li  img{
    margin: 0 10px 0 10px; 
}

nav  a{
    text-decoration: none;
    color: #424242;
}

section{
    max-height: 20vh;
    min-height: 10vh;
    width: 100vw;
    background-color: #424242;
    display: flex;
    justify-content: center;
    align-items: center;
}

article{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div.boas_vindas{
    background-color: #424242;
    max-width: 500px;
    max-height: 100px;
}


div.presentes{

}

