@charset "UTF-8";

@font-face {
    font-family: courgette;
    src: url(font/Courgette/Courgette-Regular.ttf);
}

@font-face {
    font-family: open_sans;
    src: url(font/Open_Sans/static/OpenSans-Regular.ttf);
}

@font-face {
    font-family: reddit_mono;
    src: url(font/Reddit_Mono/static/RedditMono-Regular.ttf);
}

@font-face {
    font-family: source_sans;
    src: url(font/source-sans-pro/SourceSansPro-Regular.otf);
}

:root{
    --cor_principal: #fb8ea3;
    --cor_secundaria:#e49080;
    --cor_sombra:#424242;
    --cor_destaque: #cd334f;
    --font_titulo: source_sans;
    --font_conteudo: reddit_mono;
    --font_destaque: courgette; 
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 1920px) {

details{
    display: none;
}

header{
    width: 100%;
    height: 30vh;
    background-image: linear-gradient(to bottom, var(--cor_secundaria), var(--cor_principal) );
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:  2.5vw ;
    font-family: var(--font_titulo) , 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    
}

nav{
    width: 100%;
    height: 10vh;
    background-color: var(--cor_principal);
}

nav > ul{
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

nav li{
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}

nav li:hover{
    background-color: whitesmoke;
    transition-duration: 1s;
    border: 20px;
}

li  img{
    margin: 0 10px 0 10px; 
}

nav  a{
    text-decoration: none;
    color: #424242;
}

section{
    max-height: 20vh;
    min-height: 10vh;
    width: 100%;
    background-color: #424242;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.img001{
    background-image: url(images/Yellow-buttercups-flowers_1280x800.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    height: 60vh;
    width: 100%;
    margin-top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--cor_sombra) 5px solid;
}

div.boas_vindas{
    background-color: #424242;
    max-width: 300px;
    min-height: 200px;
    padding: 20px;
    margin:40px auto;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    color: white;
}


div.presentes{
    min-width: 400px;
    min-height: 200px;
    background-color: var(--cor_destaque);
    border:1px solid var(--cor_principal) ;
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    
}

.container{
    display: inline-flex;
    justify-content: space-around;
    position: relative;
    flex-wrap: wrap;
}

.container div#card_flores{
    margin: 10px 1vw 0 10vw;
}

.container div#card_chocolate{
    margin: 10px 10vw 0 1vw;
}

.container div#card_carta{
    margin: 10px 1vw 0 10vw;
}

.container div#card_surpresa{
    margin: 10px 10vw 0 1vw; 
}
}

/*

ESTILO CSS PARA CELULAR P

*/

@media only screen and (max-width: 400px) {
    details{
        display: flex;
        position: relative;
    }

    summary:hover{
        background-color: aliceblue;
        width: max-content;
        border-radius: 20px;
        padding: 5px;
    }
    
    ul{
        background-color: aliceblue;
    }

    ul#menu{
        display: none;
    }
    
    nav li:hover{
        background-color: whitesmoke;
        transition-duration: 1s;
        border: 20px;
    }

    div.presentes{
        min-width: 200px;
        min-height: 100px;
        background-color: var(--cor_destaque);
        border:1px solid var(--cor_principal) ;
        border-radius: 20px;
        margin-top: 10px;
        display: flex;
        align-items: flex-end;
        justify-content: end;
    }

    .container div#card_flores,
    .container div#card_chocolate,
    .container div#card_carta,
    .container div#card_surpresa{
        margin: 10px auto;
    }
    
}


@media only screen and (max-width: 425px) {

    details{
        display: none;
    }
    
    header{
        width: 100%;
        height: 30vh;
        background-image: linear-gradient(to bottom, var(--cor_secundaria), var(--cor_principal) );
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size:  2.5vw ;
        font-family: var(--font_titulo) , 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
        
    }
    
    nav{
        width: 100%;
        height: 10vh;
        background-color: var(--cor_principal);
    }
    
    nav > ul{
        display: flex;
        justify-content: flex-start;
        list-style: none;
        text-align: center;
    }
    
    nav li{
        margin: 8px;
        padding: 8px;
        border-radius: 20px;
    }
    
    nav li:hover{
        background-color: whitesmoke;
        transition-duration: 1s;
        border: 20px;
    }
    
    li  img{
        margin: 0 10px 0 10px; 
    }
    
    nav  a{
        text-decoration: none;
        color: #424242;
    }
    
    section{
        max-height: 20vh;
        min-height: 10vh;
        width: 100%;
        background-color: #424242;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
    
    .img001{
        background-image: url(images/Yellow-buttercups-flowers_1280x800.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: left top;
        background-size: cover;
        height: 60vh;
        width: 100%;
        margin-top: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: var(--cor_sombra) 5px solid;
    }
    
    div.boas_vindas{
        background-color: #424242;
        max-width: 300px;
        min-height: 200px;
        padding: 20px;
        margin:40px auto;
        display: flex;
        align-items: center;
        text-align: center;
        border-radius: 20px;
        color: white;
    }
    
    
    div.presentes{
        min-width: 400px;
        min-height: 200px;
        background-color: var(--cor_destaque);
        border:1px solid var(--cor_principal) ;
        border-radius: 20px;
        margin-top: 10px;
        display: flex;
        align-items: flex-end;
        justify-content: end;
        
    }
    
    .container{
        display: inline-flex;
        justify-content: space-around;
        position: relative;
        flex-wrap: wrap;
    }
    
    .container div#card_flores,
    .container div#card_chocolate,
    .container div#card_carta,
    .container div#card_surpresa{
        margin: 10px auto;
    }
    
}  