@charset "UTF-8";

@font-face {
    font-family: courgette;
    src: url(font/Courgette/Courgette-Regular.ttf);
}

@font-face {
    font-family: open_sans;
    src: url(font/Open_Sans/static/OpenSans-Regular.ttf);
}

@font-face {
    font-family: reddit_mono;
    src: url(font/Reddit_Mono/static/RedditMono-Regular.ttf);
}

@font-face {
    font-family: source_sans;
    src: url(font/source-sans-pro/SourceSansPro-Regular.otf);
}

:root{
    --cor_principal: #fb8ea3;
    --cor_secundaria:#e49080;
    --cor_sombra:#424242;
    --cor_destaque: #cd334f;
    --font_titulo: source_sans;
    --font_conteudo: reddit_mono;
    --font_destaque: courgette; 
}

*{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    padding: 10px;
}

h1,h2{
    font-family: var(--font_titulo), 'Courier New', Courier, monospace;
}

body{
    background-color: var(--cor_principal);
    
}
article{
    margin: auto;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    width: 500px;
}

article div{
    line-height: 2em;
}
