@charset "UTF-8";

@font-face {
    font-family: courgette;
    src: url(font/Courgette/Courgette-Regular.ttf);
}

@font-face {
    font-family: open_sans;
    src: url(font/Open_Sans/static/OpenSans-Regular.ttf);
}

@font-face {
    font-family: reddit_mono;
    src: url(font/Reddit_Mono/static/RedditMono-Regular.ttf);
}

@font-face {
    font-family: source_sans;
    src: url(font/source-sans-pro/SourceSansPro-Regular.otf);
}

:root{
    --cor_principal: #fb8ea3;
    --cor_secundaria:#e49080;
    --cor_sombra:#424242;
    --cor_destaque: #cd334f;
    --font_titulo: source_sans;
    --font_conteudo: reddit_mono;
    --font_destaque: courgette; 
}

*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 600px;
    height: 400px;
    background-color: var(--cor_principal);
    margin: 25vh auto;
    border: 1px solid var(--cor_destaque);
    font-family: var(--font_destaque);
    text-align: center;
    border-radius: 15px;
    box-sizing: border-box;
}

h1{
    align-self: center;
    margin: 20%;
}

button{
    padding: 10px;
    border: none;
    background-color: var(--cor_destaque);
    border-radius: 15px;
}

