<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uma simple carta</title>
    <link rel="stylesheet" href="../style/style_carta.css">
</head>

<body>
    <header>
        <h1> Uma carta para o meu amor</h1>
    </header>

    <section class="normal">
        <p>
            <!--CONTEÚDO TEXTO-->
        </p>
    </section>

    <section class="imagem" id="img01">
        <p>
            <!--CONTEÚDO TEXTO-->
        </p>
    </section>



    <section class="normal">
        <p>
            <!--CONTEÚDO TEXTO-->
        </p>
    </section>



    <section class="imagem" id="img02">
        <p>
            <!--CONTEÚDO TEXTO-->
        </p>
    </section>



    <section class="normal">
        <p>
        <!--CONTEÚDO TEXTO-->
        </p>
    </section>
    <footer>
        <p>
            site criado por @CesarA34R para Maria Julia
        </p>
    </footer>
</body>

</html>