<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu docinho</title>
    <link rel="stylesheet" href="../style/style_chocolate.css">
    <link rel="shortcut icon" href="../style/favicon/favicon_io (2)/favicon.ico" type="image/x-icon">
</head>
<body>
        <div class="card">
            <p id="msg">
                "Amor, você entrou na minha vida e a deixou muito mais linda e doce com sua delicadeza e fofura, então espero que você goste desse chocolate."
                <br>
                <button onclick="troca()">Aceita um chocolate 😊</button>
                <br>
                
            </p>
        </div>
    <script>
    function troca(){
        document.getElementById("msg").innerHTML = "Obrigado por aceitar, te amo, e divide ele comigo kkkkkk 😊";
    }
</script>
</body>
</html>