<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha flor</title>
</head>
<body>
    <article>
        <div class="card">
            <p>
                Amor, você é como uma rosa: uma flor linda e apaixonante, adornada com delicados espinhos. Cada espinho, uma lembrança de algum momento em que alguém te feriu, mas isso só acrescenta à sua beleza única. Eu te amo exatamente como você é, com suas imperfeições que são poucas. Para mim, você é como a rosa mais deslumbrante do jardim, irradiando beleza na sua simplicidade.
            </p>
        </div>
    </article>
</body>
</html>