<!DOCTYPE html>
<html lang="pt-br">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title></title>
     <link rel="stylesheet" href="../style/style_inicio.css">
</head>
<body>
     <header>
          <h1>Feliz dia dos Namorados</h1>
     </header>
     <nav>
          <ul id="menu">
               <a href="index.html">
                    <li><img src="../style/icons/casa16px.png"alt="casa_icon">Inicio</li>
               </a>
               <a href="">
                    <li><img src="../style/icons/relogio16px.png" alt="relogio_icon">Memorias</li>
               </a>
               <a href="">
                    <li><img src="../style/icons/estrela16px.png" alt="estrela_icon">star</li>
               </a>
          </ul>
          <details>
               <summary>menu</summary>
               <ul>
                    <a href="index.html">
                         <li><img src="../style/icons/casa16px.png"alt="casa_icon">Inicio</li>
                    </a>
                    <a href="">
                         <li><img src="../style/icons/relogio16px.png" alt="relogio_icon">Memorias</li>
                    </a>
                    <a href="">
                         <li><img src="../style/icons/estrela16px.png" alt="estrela_icon">star</li>
                    </a>
               </ul>
          </details>
     </nav>
     <section>
          <h1><h2>Surpresa !!!</h2></h1>
     </section>
     <article>
          <div class="img001">
               <div class="boas_vindas">
                    <p>
                         Amor feliz dia dos namorados.<br>
                         Para essa data tão especial eu pensei em fazer algo que eu realmente sei, espero que você goste e aproveite a experiência.
                    </p>
               </div>
          </div>
          <div class="container">
               
               <a href="flower.html" target="_blank">
                    <div class="presentes" id="card_flores">
                              <img src="../style/icons/flower-daffodil 64px.png" alt="flor_icon">
                    </div>
               </a>
               <a href="chocolate.html">
                    <div class="presentes" id="card_chocolate">
                         <img src="../style/icons/candy-bar64px.png" alt="chocolate_icon">
                    </div>
               </a>
               <a href="carta.html">
                    <div class="presentes" id="card_carta">
                         <img src="../style/icons/envelopes64px.png" alt="envelope_icon">
                    
                    </div>
               </a>
               <a href="surpresa.html">
                    <div class="presentes" id="card_surpresa">
                         <img src="../style/icons/gift64px.png" alt="presente_icon">
                    </div>
               </a>
          </div>
     </article>
     <footer>
          <p>Direitos reservados a @CesarA34R &COPY; para Maria Julia 💞</p>
     </footer>
</body>
</html>