<!DOCTYPE html>
<html lang="pt-br">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title></title>
     <link rel="stylesheet" href="../style/style.css">
</head>
<body>
     <header>
          <h1>Título Principal</h1>
     </header>
     <nav>
          <ul>
               <li>Inicio</li>
               <li>Memorias</li>
               <li>Cartas</li>
               <li>star</li>
          </ul>
     </nav>
     <section>
          <h1>section</h1>
     </section>
     <article>
          <div class="boas_vindas">
               <h2>Surpresa !!!</h2>
               <p>
                    Amor feliz dia dos namorados.<br>
                    Para essa data tão especial eu pensei em fazer algo que eu realmente sei, espero que você goste e aproveite a experiência.
               </p>
          </div>
          <div class="presentes">
               <button value="flores" class="b_presentes">Enviar</button>
          </div>
          <div class="presentes">
               <button value="chocolate" class="b_presentes">Enviar</button>
          </div>
          <div class="presentes">
               <button value="carta" class="b_presentes">Enviar</button>
          </div>
          <div class="presentes">
               <button value="Surpresa" class="b_presentes">Enviar</button>
          </div>
     </article>
     <footer>
          &COPY;
     </footer>
</body>
</html>