<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../style/style_memorias.css">
</head>

<body>
    <header>
        <h1>Feliz dia dos Namorados</h1>
    </header>
    <nav>
        <ul id="menu">
            <a href="index.html">
                <li><img src="../style/icons/casa16px.png" alt="casa_icon">Inicio</li>
            </a>
            <a href="memorias.html">
                <li><img src="../style/icons/relogio16px.png" alt="relogio_icon">Memórias</li>
            </a>
            <a href="musicas.html">
                <li><img src="../style/icons/estrela16px.png" alt="estrela_icon">star</li>
            </a>
        </ul>
        <details>
            <summary>menu</summary>
            <ul>
                <a href="index.html">
                    <li><img src="../style/icons/casa16px.png" alt="casa_icon">Inicio</li>
                </a>
                <a href="memorias.html">
                    <li><img src="../style/icons/relogio16px.png" alt="relogio_icon">Memórias</li>
                </a>
                <a href="musicas.html">
                    <li><img src="../style/icons/estrela16px.png" alt="estrela_icon">star</li>
                </a>
            </ul>
        </details>
    </nav>
    <section>
        <h1>
            <h2>Memórias</h2>
        </h1>
    </section>
    <article>
        <div class="img001">
            <div class="boas_vindas">
                <p>
                    Apenas algumas memórias para relembrar o quão felizes nós somos juntos. <br>
                    Muito obrigado por aceitar ser a minha princesa.
                </p>
            </div>
        </div>
        <div class="container">
            <div class="img_1">
                <p>Nosso primeiro aniversário um dia incrivel e muito fofo</p>
            </div>
            <div class="img_2">
                <p>Uma simples viagem que deu o início de um grande amor</p>
            </div>
            <div class="img_3">
                <p>Nós e o nosso pai espirítual</p>
            </div>
            <div class="img_4">
                <p>Uma viagem aleatória, mas muito divertida!!!</p>
            </div>
            <div class="img_5">
                <p>50 tentativas depois tivemos uma foto linda eeeeeeeee!!!!!</p>
            </div>
            <div class="img_6">
                <p>Nunca tive tanto medo, mas valeu a pena cada segundo</p>
            </div>
            <div class="img_7">
                <p>Um belo fim de ano</p>
            </div>
            <div class="img_8">
                <p>O dia que descobrimos que nós somos fotogênicos, mulher mais linda do mundo</p>
            </div>
            <div class="img_9">
                <p>DNJ um dos melhores dias da minha vida nunca estive tão perto do amor de Deus</p> 
            </div>
            <div class="img_10">
                <p>Foi muito bom poder estar com você e dividir essa alegria de ser Cristão</p>
            </div>
            <div class="img_11">

            </div>
            <div class="img_12">
                <p>Outra festa que nos divertimos muito você estava vislumbrante muito linda</p>
            </div>
            <div class="img_14">
                <p>Um almoço muito engraçado e muito relaxante <br> (obs:e com muita louça kkk)</p>
            </div>
            <div class="img_15">
                <p>Um bom servir mas prefiro o Deixa Deus Sonhar Em ti</p>
            </div>
            <div class="img_16">
                <p>A noiva mais linda do Mundo e um noivo muito desageitado</p>
            </div>
            <div class="img_17">
                
            </div>
            <div class="img_18">
                <p>Outro bom servir, espero sempre estar com você nessa caminhada de evangelização o nosso amor por Jesus vai nos trazer frutos incriveis</p>
            </div>
            <div class="img_19">
                <p>Mais de eu você e o grande Jesus</p>
            </div>
            <div class="img_20">
                
            </div>
            <div class="img_21">
                <p>Só um ultimo comentário, como você é linda tenho muita sorte de ter você obrigado até mais</p>
            </div>
        </div>
    </article>
    <footer>
        <p>Direitos reservados a @CesarA34R &COPY; para Maria Julia 💞</p>
    </footer>
</body>

</html>