<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucesso</title>
    <link rel="stylesheet" href="../style/style_sucesso.css">
</head>

<body>
    <div class="banner">
        <video autoplay muted loop>
            <source src="../style/video/fogos_de_artificio.mp4" type="video/mp4">
        </video>
        <div class="card">
            <h1>Parabéns! Você acertou!</h1>
            <h2>Você ganhou um lanche do break !!!!!</h2>
        </div>
    </div>
</body>

</html>