<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surpresa</title>
    <link rel="stylesheet" href="../style/style_surpresa.css">
</head>

<body>
    <header>

        <h1> QUIZ LOVE</h1>
        <h2> ESTÁ VALENDO UM MEGA PREMIO</h2>

    </header>
    <article>
        <form action="../php/main.php" method="get">
            <div>
                <p>1. Em qual local eu contei que estava apaixonado por você ?</p>
                <input type="radio" name="opcao1" id="break" value="b_break">
                <label for="banco_frente_break">banco na frente do break</label>
            </div>
            <div>
                <input type="radio" name="opcao1" id="na_sua_casa" value="na_sua_casa">
                <label for="na sua casa">Na sua casa</label>
            </div>
            <div>
                <input type="radio" name="opcao1" id="casa_vo" value="casa_vo">
                <label for="casa_vo">Casa vó Maria</label>
            </div>
            <br>
            <div>
                <p>2. Qual é a nossa música ?</p>
                <input type="radio" name="opcao2" id="more_than_words" value="b_more_than_words">
                <label for="more_than_words">More_than_words</label>
            </div>
            <div>
                <input type="radio" name="opcao2" id="ch_manias" value="ch_manias">
                <label for="ch_manias">Cheia de Manias</label>
            </div>
            <div>
                <input type="radio" name="opcao2" id="meu_universo" value="meu_universo">
                <label for="meu_universo">Meu Universo</label>
            </div>
            <div>
                <p>3. Qual o tipo de comida que nós mais gostamos ?</p>
                <input type="radio" name="opcao3" id="Macarrao" value="Macarrao">
                <label for="Macarrao">Macarrão</label>
            </div>
            <div>
                <input type="radio" name="opcao3" id="pastel" value="pastel">
                <label for="pastel">Pastel</label>
            </div>
            <div>
                <input type="radio" name="opcao3" id="b_lanche_break" value="lanche_break">
                <label for="lanche_break">Lanche do break</label>
            </div>
            <input type="submit" value="Enviar">
        </form>
    </article>
</body>

</html>