<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surpresa</title>
    <link rel="stylesheet" href="../style/style_surpresa.css">
    <link rel="shortcut icon" href="../style/favicon/favicon_io (2)/favicon.ico" type="image/x-icon">
</head>

<body>
    <header>
        <h1>QUIZ LOVE</h1>
        <h2>ESTÁ VALENDO UM MEGA PREMIO</h2>
    </header>
    <article>
        <form id="quizForm">
            <div>
                <p><mark>1. Em qual local eu contei que estava apaixonado por você?</mark></p>
                <input type="radio" name="opcao1" id="b_break" value="b_break">
                <label for="b_break">banco na frente do break</label>
            </div>
            <div>
                <input type="radio" name="opcao1" id="na_sua_casa" value="na_sua_casa">
                <label for="na_sua_casa">Na sua casa</label>
            </div>
            <div>
                <input type="radio" name="opcao1" id="casa_vo" value="casa_vo">
                <label for="casa_vo">Casa vó Maria</label>
            </div>
            <br>
            <div>
                <p><mark>2. Qual é a nossa música?</mark></p>
                <input type="radio" name="opcao2" id="more_than_words" value="more_than_words">
                <label for="more_than_words">More Than Words</label>
            </div>
            <div>
                <input type="radio" name="opcao2" id="ch_manias" value="ch_manias">
                <label for="ch_manias">Cheia de Manias</label>
            </div>
            <div>
                <input type="radio" name="opcao2" id="meu_universo" value="meu_universo">
                <label for="meu_universo">Meu Universo</label>
            </div>
            <div>
                <p><mark>3. Qual o tipo de comida que nós mais gostamos?</mark></p>
                <input type="radio" name="opcao3" id="Macarrao" value="Macarrao">
                <label for="Macarrao">Macarrão</label>
            </div>
            <div>
                <input type="radio" name="opcao3" id="pastel" value="pastel">
                <label for="pastel">Pastel</label>
            </div>
            <div>
                <input type="radio" name="opcao3" id="lanche_break" value="lanche_break">
                <label for="lanche_break">Lanche do break</label>
            </div>
            <button type="button" id="submitButton">Enviar</button>
        </form>
    </article>
    <script src="../js/validar_formulario.js"></script>
</body>

</html>
