<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/style_tente_novamente.css">
    <link rel="shortcut icon" href="../style/favicon/favicon_io (2)/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h1>Você errou volte e tente novamente</h1>
        <p><a href="surpresa.html"><button>Voltar</button></a></p>
    </div>
</body>
</html>